$bg-orange: orange;
$bg-black: black;
$padding-left: 100px;
$padding-right: 100px;
$padding-bund: 50px;
$padding-top: 50px;

@mixin flex-column($gap:50px) {  
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin top-bund-pad($pad-top:50px, $pad-bund:50px) {
    padding-top: $pad-top;
    padding-bottom: $pad-bund;
}

@mixin cta {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 10px 40px 10px 40px;
    white-space: nowrap;
    text-decoration: none;
}