* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

/*Font sizes*/
html {
  font-size: 15px;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

.overskrift-lille {
  font-size: 1rem;
}

.big-p {
  font-size: 2.4rem;
}

/*CLASSES*/
.grid1 {
  display: grid;
  grid-template-columns: 0px 1fr 0px;
  width: 100%;
}

.indhold {
  grid-column: 2/3;
}

.grid2columns-gap {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px;
}

.grid2columns-2-3-gap {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 30px;
}

.grid2columns-right {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.grid2columns-left {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.hero {
  grid-column: 2/3;
  background-color: blueviolet;
  height: 500px;
}

.img-container-right {
  grid-column: 2/3;
  background-color: orange;
  display: flex;
  align-items: center;
}

.img-container-left {
  grid-column: 1/2;
  background-color: orange;
  display: flex;
  align-items: center;
}

.nederst-nav-venstre {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 500px;
}

.nederst-nav-hojre {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: orange;
  height: 500px;
}
.nederst-nav-hojre a {
  background-color: white;
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 40px 10px 40px;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.3s;
}
.nederst-nav-hojre a:hover {
  background-color: black;
  color: white;
}

.about-img {
  width: 100%;
}

.left-img-container {
  grid-column: 1/2;
  height: 600px;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  height: 100%;
}

.bg-img-container {
  background-image: url(srilanka-bygning-Edit.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.video-container {
  grid-column: 2/3;
  background-color: black;
  width: 100%;
  aspect-ratio: 3/2;
}

.text-right {
  grid-column: 2/3;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-left {
  grid-column: 1/2;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-text {
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.flex-column-20px {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-row {
  display: flex;
  gap: 50px;
}

.column-center {
  display: flex;
  justify-content: center;
}

.row-center {
  display: flex;
  align-items: center;
}

.top-bund-pad {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-left {
  padding-left: 100px;
}

.padding-right {
  padding-right: 100px;
}

.knap {
  background-color: white;
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 40px 10px 40px;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.2s;
}
.knap:hover {
  background-color: orange;
}

body {
  display: grid;
  grid-template-rows: 75px 1fr auto;
  min-height: 100vh;
}

header {
  grid-row: 1/2;
}
header nav {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
header nav div:nth-of-type(1) {
  grid-column: 1/2;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
header nav div:nth-of-type(1) a {
  color: black;
}
header nav div:nth-of-type(1) a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
header nav div:nth-of-type(1) img {
  width: 25px;
}
header nav div:nth-of-type(2) {
  grid-column: 3/4;
  display: flex;
  justify-content: end;
  align-items: center;
}
header nav div:nth-of-type(2) img {
  width: 25px;
  height: 25px;
}
header nav div:nth-of-type(2) img:hover {
  scale: 120%;
}

header nav div a {
  text-decoration: none;
}

.active {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.logo {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 200px;
}

main {
  grid-row: 2/3;
}

footer {
  grid-row: 3/4;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
footer address:nth-of-type(1) {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
  opacity: 60%;
}
footer address:nth-of-type(1) a {
  text-decoration: none;
  color: black;
}
footer address:nth-of-type(2) {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
  opacity: 60%;
}
footer div {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
}
footer div a {
  text-decoration: none;
  color: black;
  opacity: 60%;
}

.pacman-maze {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-flex {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.bg-white {
  background-color: white;
}

.tandhjul-container {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 2/3;
}

.flex-column-gap50 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.width-100 {
  width: 100%;
}

.contact-box {
  width: 550px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
  color: white;
  font-size: 1.5rem;
  width: 100%;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
form div input {
  width: 100%;
  max-width: 550px;
  height: 2rem;
}
form div textarea {
  height: 200px;
  width: 100%;
  max-width: 550px;
}
form div:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  gap: 50px;
  max-width: 550px;
  width: 100%;
}
form div:nth-of-type(3) div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
form div:nth-of-type(3) div input {
  width: 100%;
  max-width: 250px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.contact-section input {
  align-self: center;
}

.bg-black {
  background-color: black;
}

.hero-about {
  max-width: 100%;
  height: 500px;
  background-color: purple;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  position: relative;
  top: -100px;
}
.about-box p {
  max-width: 500px;
  padding: 100px 50px 100px 50px;
  background-color: orange;
}

.social-a {
  text-decoration: none;
  color: white;
}

/*Mobil*/
.hero-mobil {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: black;
}
.hero-mobil img {
  width: 100%;
}
.hero-mobil div {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  color: white;
  padding-bottom: 50px;
}

.video-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.video-section div {
  width: 100%;
  aspect-ratio: 3/2;
}

.what-we-do-mobil {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-mobil {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nederst-nav-mobil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.kompetence-box-mobil {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}
.kompetence-box-mobil div {
  width: 100%;
  aspect-ratio: 3/2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kompetence-box-mobil div img {
  width: 100%;
}
.kompetence-box-mobil h2, .kompetence-box-mobil p, .kompetence-box-mobil h3 {
  padding-left: 10px;
  padding-right: 10px;
}
.kompetence-box-mobil a {
  align-self: center;
}

.about-hero-section-mobil {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.about-hero-section-mobil div:nth-of-type(2) {
  margin-left: 25px;
  margin-right: 25px;
}
.about-hero-section-mobil div:nth-of-type(2) p {
  background-color: orange;
  padding: 100px 50px 100px 50px;
}

.about-section-mobil {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 25px;
  margin-right: 25px;
}
.about-section-mobil div {
  width: 100%;
  aspect-ratio: 3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.about-section-mobil div img {
  width: 100%;
}

.kontakt-hovedside {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
.kontakt-hovedside .kontakt-info-mobil {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

/*Media queries*/
@media screen and (max-width: 1200px) {
  .padding-right {
    padding-right: 25px;
  }
  .padding-left {
    padding-left: 25px;
  }
  header nav {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 1700px) {
  .grid1 {
    grid-template-columns: 1fr 1700px 1fr;
  }
}
@media screen and (max-width: 750px) {
  .storre-end-mobil {
    display: none;
  }
  .nederst-nav-hojre {
    height: 250px;
  }
  .nederst-nav-venstre {
    height: 250px;
  }
  .hero-about {
    margin-right: 25px;
    margin-left: 25px;
  }
  .contact-box {
    width: 100%;
    max-width: 550px;
    padding-left: 25px;
    padding-right: 25px;
  }
  form div:nth-of-type(3) {
    flex-direction: column;
    max-width: 100%;
  }
  input[type=submit] {
    align-self: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (min-width: 751px) {
  .mobil {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  header nav div:nth-of-type(1) a {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .burger {
    display: none;
  }
}
@media screen and (max-width: 405px) {
  header nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nederst-nav-mobil {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=dreamshot.css.map */